$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Bungee', sans-serif;
$tweeter-blue: #4056a1;
$tweeter-blue-hover: #677fcf;
$tweeter-orange: #da9d2c;
$tweeter-neutral: #545149;

@mixin vertical-align {
  display: flex;
  align-items: center;
}
